*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   list-style: none;
   text-decoration: none;
}
html{
   scroll-behavior: smooth;
}
body{
   background-color: #FEFCFB;
}
img{
   max-width: 100%;
}
.container{
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 30px;
}
.hero{
   background-image: url(/images/hero_piano.jpg);
   background-position: center;
   background-size: cover;
   height: 100vh;
   width: 100%;
   position: relative;

   &::after{
      content: "";
      position: absolute;
      background: rgba(0, 0, 0, 0.100);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
   }

   .hero__text--area{
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      z-index: 2;

      .hero__text{
         text-align: left;
         color: white;
         font-family: "Noto Sans JP";
         font-size: 3rem;

         span{
            background: rgba(26, 26, 26, 0.986);
         }
      }
   }
}
.scrolled{
   backdrop-filter: blur(0.8rem);
   background-color: rgba(15, 15, 15, 0.938);
   transition: background-color .2s;
}

#header{
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 100;
   display: flex;
   transition: background-color .2s;

   nav{
      max-width: 1200px;
      margin: 0 auto;
      padding: 100px 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      transition: padding 0.2s;

      .logo__area{
         font-size: 1.4rem;
      }

      .logo{
         color: rgb(255, 255, 255);
         font-family: "Poppins";
      }

      ul{
         display: flex;
         align-items: center;
         gap: 40px;

         li{

            .list-item{
               color: rgb(255, 255, 255);
               font-family: "Montserrat";
               font-weight: 500;
               position: relative;

               &:hover::after{
                  width: 100%;
                  transition: .3s ease-in-out;
               }

               &::after{
                  content: "";
                  height: 2px;
                  width: 0%;
                  background: rgb(235, 235, 235);
                  position: absolute;
                  left: 0;
                  bottom: -3px;
                  transition: .3s ease-in-out;
               }
            }
            .contact{
               background: #fff;
               color: rgb(29, 29, 29);
               font-family: "Montserrat";
               font-weight: 600;
               display: block;
               height: 2rem;
               width: 5rem;
               line-height: 32px;
               text-align: center;
               border-radius: 0.5rem;
            }
         }
      }
   }
}
.section__title{
   text-align: center;
   font-size: 1.3rem;
   font-family: "Noto Sans JP";
   color: rgb(41, 41, 41);
   margin-bottom: 3rem;
}
#about{
   padding: 3rem 0;
   min-height: 100vh;

   .about__container{
      margin: 5rem auto;
      max-width: 900px;
      padding: 0 20px;

      .section__title{
         text-align: center;
         font-size: 1.3rem;
         font-family: "Noto Sans JP";
         color: rgb(41, 41, 41);
         margin-bottom: 3rem;
      }
      .about__desc{
         display: flex;
         align-items: center;
         margin-bottom: 3rem;

         img{
            margin-right: 6rem;
            height: 20rem;
         }
         .about__desc--text{
            line-height: 2;
            font-size: 1rem;
            font-family: "Noto Sans JP";
            font-weight: 500;
         }
      }
   }
}

.greeting{

   .sub-title{
      font-family: "Noto Sans JP";
      font-size: 1.3rem;
      color: rgb(241, 241, 241);
      margin-bottom: 3rem;

      span{
         background: rgb(49, 49, 49);
         padding: 0 10px;
      }
   }
}
.greeting__text--area{
   color: #242424;
   font-weight: 500;
   font-family: "Noto Sans JP";
   letter-spacing: 1px;
   line-height: 2;
}
#skill{
   padding: 3rem 0;
   background-color: rgb(247, 247, 247);
   min-height: 100vh;
}
.skill__container{
   margin: 5rem auto;
   max-width: 1200px;
   padding: 0 20px;
}
.skill__desc{
   .sub-title{
      font-family: "Noto Sans JP";
      font-size: 1.3rem;
      color: rgb(241, 241, 241);
      margin-bottom: 3rem;
   }
   span{
      background: rgb(49, 49, 49);
      padding: 0 10px;
   }
} 
.skill__image{
   display: flex;
   justify-content: space-between;

   img{
      height: 300px;
   }
}
.card{
   width: 30%;
   display: flex;
   flex-direction: column;
   align-items: center;
   background: white;
   padding: 40px 0;
   border: 1px solid rgb(226, 226, 226);

   .sub-title{
      font-family: "Noto Sans JP";
      font-size: 1.3rem;
      color: rgb(241, 241, 241);
      margin-top: 2rem;
      margin-bottom: 2rem;

      span{
         background: rgb(49, 49, 49);
         padding: 0 10px;
      }
   }
}